@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Chivo:wght@100;200;300&family=Exo:wght@600&family=Gajraj+One&family=Inter:wght@400;700;800&family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Overpass:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,700&family=Roboto&family=Rubik:wght@500&family=Sigmar&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&display=swap');

html {
    overflow-x: hidden;
}

body {
    font-family: 'Rubik';
}

.main {
    height: 70vh;
}

.red {
 color: #fc454580;
}

.navbar-hide {
    transform: translateX(-5%);
    transition: ease-in-out .4s;
}


.navbar-show {
    transform: translateX(-300%);
    transition: ease-in-out .4s;
}

@media screen and (max-width: 900px) {
    #login-section{
        display: none;
    }
}

.comment-box .comment:nth-child(even) {
    margin-left: 2rem;

}

.comments-section.active {
    display: flex;
    opacity: 1;
    transition: ease-in-out .4s;
}

.comments-section {
    display: none;
    opacity: 0;
}

#arrow {
    transform: rotate(90deg);
}

#arrow.active {
    transform: rotate(180deg);
}
