@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Chivo:wght@100;200;300&family=Exo:wght@600&family=Gajraj+One&family=Inter:wght@400;700;800&family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Overpass:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,700&family=Roboto&family=Rubik:wght@500&family=Sigmar&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&display=swap');

html {
    overflow-x: hidden;
}

body {
    font-family: 'Rubik';
}

.main {
    height: 70vh;
}

.navbar-hide {
    transform: translateX(-5%);
    transition: ease-in-out .4s;
}


.navbar-show {
    transform: translateX(-300%);
    transition: ease-in-out .4s;
}

@media screen and (max-width: 900px) {
    #login-section{
        display: none;
    }
}

.comment-box .comment:nth-child(even) {
    margin-left: 2rem;

}

.comments-section.active {
    display: flex;
    opacity: 1;
    transition: ease-in-out .4s;
}

.comments-section {
    display: none;
    opacity: 0;
}

#arrow {
    transform: rotate(90deg);
}

#arrow.active {
    transform: rotate(180deg);
}

#container {
    color: hsl(211, 10%, 45%);
    font-size: 1.3rem;
    z-index: 1;
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 300px;
}

.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}

#text {
    color: hsl(211, 10%, 45%);
    font-size: 1.5rem;

}

/* toggle */
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: hsl(228, 33%, 97%);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }